.container {
  width: 97%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.comment {
  text-align: left;
  margin: auto;
  width: 90%;
  position: relative;
}

.content {
  font-size: 16px;
  color: #41403c;
  font-weight: 300;
  word-wrap: break-word;
  width: 100%;
}

.comment a {
  font-size: 16px;
  color: rgb(48, 45, 45);
  font-weight: 600;
}

.del {
  position: absolute;
  right: 15px;
  bottom: -5px;
}

.avatar {
  display: none;
}

.commentChild {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  .none {
    display: none;
  }
  .avatar {
    border-radius: 50%;
    display: inherit;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .commentChild {
    padding-top: 130px;
  }
}
