/* .container {
    width: 97%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    min-height: 100vh;
}

.image {
    background-color: "black",
} */

.container {
  margin: auto;
  width: 100vw;
  text-align: center;
}

.header {
  margin-bottom: 10px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.imgHeader {
  object-fit: cover;
  object-position: bottom 70%;
  background: #41403c;
}

.img {
  cursor: pointer;
}

.bgHover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.671);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 95%;
  height: 95%;
  z-index: 9;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.bgHover h1 {
  font-weight: 200;
  color: #efeee9;
  font-size: 22px;
}

@media (max-width: 700px) {
  .header {
    height: 30vh;
  }
}
